<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Активация аккаунта</title>
    <style>
        /* Общие стили */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #c0392b; /* Красный цвет для заголовка */
        }
        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #c0392b;
            color: #fff;
            text-decoration: none;
        }
        p {
            margin-bottom: 20px;
        }
        footer {
            background-color: #333; /* Темный цвет для футера */
            color: #fff;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <img src="путь-к-логотипу.png" alt="Логотип" style="max-width: 100%;" />
            <h1>Приветствуем Вас в интернет магазине АлександриН!</h1>
        </header>
        <p>Для активации вашего аккаунта перейдите по следующей ссылке:</p>
        <a href="{{activationLink}}">Активировать аккаунт</a>
        <p>Если у вас возникли проблемы с активацией, пожалуйста, свяжитесь с нашей поддержкой.</p>
    </div>
    <footer>
        <p>С уважением,<br />Команда нашего сервиса</p>
    </footer>
</body>
</html>